@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  exclude: scrollbar;
}

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1216px;
  --breakpoint-2xl: 1216px;

  --color-travel-primary: #4502c7;
  --color-travel-secondary: #25282b;
  --color-travel-yellow: #ffd600;
  --color-travel-red: #da0808;
  --color-travel-gray-100: #a6a6a6;
  --color-travel-gray-500: #898b8d;
  --color-travel-gray-900: #747578;
  --color-travel-overlay: #00000088;

  --shadow-md: 0px 1.75px 3.51px 0px #0000001f;

  @keyframes swing {
    0% {
      transform: translateX(-3px) rotate(-3deg);
    }
    50% {
      transform: translateX(3px) rotate(3deg);
    }
    100% {
      transform: translateX(-3px) rotate(-3deg);
    }
  }
}

* {
  font-family: "Lexend", sans-serif;
}

body {
  background-color: #f8f8f8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

select,
input,
button,
textarea {
  outline: none;
}

.icon-cart::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 3.7px solid #ff3904;
  position: absolute;
  left: -3.2px;
  top: 5.5px;
}

/* Swiper */
.swiperSection3 .swiper-wrapper {
  padding-bottom: 48px;
}

.swiperSection3 .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--color-travel-gray-100);
}

.swiperSection3 .swiper-pagination-bullet-active {
  background-color: var(--color-travel-primary);
}

/* Input Number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* React Date Picker */
.rdp-day_button {
  border-radius: 100%;
}

.rdp-selected .rdp-day_button {
  background-color: var(--color-travel-primary);
}

.rdp-today .rdp-day_button {
  background-color: transparent;
  color: var(--color-travel-red);
  font-weight: 700;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
}

/* Tinymce Content */
.tinymce-content {
  text-align: justify;
  color: var(--color-travel-secondary);
}

.tinymce-content h5 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.tinymce-content p {
  margin-bottom: 5px;
}

.tinymce-content ul {
  list-style: disc;
  padding-left: 30px;
  margin-bottom: 16px;
}

.tinymce-content ul li {
  margin-bottom: 5px;
}

.tinymce-content ul > li > ul {
  list-style: circle;
  padding-left: 30px;
  margin-bottom: 0;
}

/* React Datepicker */
.react-datepicker {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  border: 0 !important;
  animation: growDown 0.3s ease-in-out forwards;
  transform-origin: top center;
  background-color: white;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  border: none !important;
}

.react-datepicker__day-name:last-child,
.react-datepicker__day--weekend:last-child {
  color: red !important;
}

.react-datepicker__day--selected:last-child {
  color: white !important;
}

.react-datepicker__day--selected {
  background-color: var(--color-travel-primary) !important;
}

.react-datepicker-popper {
  z-index: 2 !important;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
