@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  exclude: scrollbar;
}

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1216px;
  --breakpoint-2xl: 1216px;

  --color-travel-primary: #4502c7;
  --color-travel-secondary: #25282b;
  --color-travel-yellow: #ffd600;
  --color-travel-red: #da0808;
  --color-travel-gray-100: #a6a6a6;
  --color-travel-gray-500: #898b8d;
  --color-travel-gray-900: #747578;
  --color-travel-overlay: #00000088;

  --shadow-md: 0px 1.75px 3.51px 0px #0000001f;
}

* {
  font-family: "Lexend", sans-serif;
}

body {
  background-color: #F8F8F8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

select,
input,
button,
textarea {
  outline: none;
}

.icon-cart::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 3.7px solid #ff3904;
  position: absolute;
  left: -3.2px;
  top: 5.5px;
}

/* Swiper */
.swiperSection3 .swiper-wrapper {
  padding-bottom: 48px;
}

.swiperSection3 .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--color-travel-gray-100);
}

.swiperSection3 .swiper-pagination-bullet-active {
  background-color: var(--color-travel-primary);
}

/* Input Number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* React Date Picker */
.rdp-day_button {
  border-radius: 100%;
}

.rdp-selected .rdp-day_button {
  background-color: var(--color-travel-primary);
}

.rdp-today .rdp-day_button {
  background-color: transparent;
  color: var(--color-travel-red);
  font-weight: 700;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
}
